- var idx = 0
- var found_registered = "false"
- var found_pending = "false"
extends layout

block content
  h1 Available Events
  .row
    each event in data
      .col-md-3
        .panel.panel-default
          .panel-heading #{event.eventName}
          .panel-body
          ul.list-unstyled
            li 
              i.glyphicon.glyphicon-map-marker 
              | #{event.location}
            li 
              i.glyphicon.glyphicon-calendar
              | #{event.date}
            li 
              i.glyphicon.glyphicon-user
              | #{event.capacity}
            li 
              i.glyphicon.glyphicon-phone-alt
              | #{event.contact}
          if (typeof(user) != 'undefined')
            each email in event.registered
              if (email == user.email)
                -found_registered = "true"
            each email in event.pending
              if (email == user.email)
                -found_pending = "true"
            if (found_registered == "true")
              a.text-danger(href='/cancelregister?name='+event.eventName) Cancel Registration
              -found_registered = "false"
            else if (found_pending == "true")
              a.text-warning(href='#') Pending Registration
              -found_pending = "false"
            else
              a.text-success(href='/registerevent?name='+event.eventName+'&email='+user.email+'&author='+event.author) Register Now!
            br
            br
            if (event.author == user.email)
              a(href='/deleteevent?name='+event.eventName class='btn btn-danger') Delete Event
              br
